{% extends 'base.html' %}
{% block content %}

<h1 class="text-3xl font-semibold mb-6">Customer Explorer</h1>

<form hx-post="/search_customer"
      hx-target="#result"
      hx-indicator="#loading"
      class="flex gap-4 mb-4">

    <input name="customer_id" placeholder="Enter Customer ID"
           class="border p-2 rounded w-64" />

    <button class="bg-blue-600 text-white px-4 py-2 rounded">Search</button>
</form>

<div id="loading" class="text-gray-600 hidden">Loading...</div>

<div id="result" class="mt-4"></div>

{% endblock %}
